#root{
    background-color: rgb(25, 24, 24);
    font-weight: medium;
    font-size: 16px;
    font-family: 'Fira Sans';
}

#top_menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding-top: 10px;
}

nav{
    background-color: rgb(25, 24, 24);
}

#application_button{
    background-color: rgb(228,200,167);
    border-color: rgb(228,200,167);
    border-width: 2px;
    color: black;
}

#application_button:hover{
    background-color: black;
    color:  rgb(0, 125, 95); 
    border-color: rgb(0, 125, 95);
    box-shadow: inset;
}

.photo-bar-text{
    position: absolute;
    right: 10%;
    bottom: 0.5rem;
    left: 10%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    text-align: center;
    align-self: center;
    background-color: rgba(102, 79, 79, 0.6);
    min-width: 300px;
    max-height: 300px;
    margin-top: 1em;
}

.photo-bar-photo{
    min-height: 170px;
}

.lang{
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   align-items: center;
   float: right;
   vertical-align: middle;
   border-radius: 10%;
   max-width: 2em;
   max-height: 2em;
   --bs-btn-padding-x: 0.75rem;
   --bs-btn-padding-y: 0.375rem;
   --bs-btn-border-width: var(--bs-border-width);
   padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x)
}

#naslov{
    color: #ffffff;
}

.desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px auto; 
    max-width: 100%; 
}

.desc-img {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.desc-text{
    max-width: 600px;
    color: white;
    text-align: justify;
    padding: 1em;    
    justify-content: center;
}

#dame-button{
    background-color: rgb(228,200,167);;
    border-color: rgb(228,200,167);;
    border-width: 2px;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.01em;
}

#dame-button:hover{
    background-color: black;
    color:  rgb(0, 125, 95); 
    border-color: rgb(0, 125, 95);
    box-shadow: inset;
}

#oneshot-details{
    margin-top: 0.0001em;
}

#pero-button{
    background-color: rgb(228,200,167);
    border-color: rgb(228,200,167);
    border-width: 2px;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
}

#pero-button:hover{
    background-color: black;
    color:  rgb(0, 125, 95); 
    border-color: rgb(0, 125, 95);
    box-shadow: inset;
}

@media(max-width: 1000px){
    .title{
        display: none;
    }
    #logo_img{
        max-width: 220px;
    }
}

@media (min-width: 800px){
    .title{
        writing-mode: vertical-lr;
        color: rgb(152, 141, 141);
        font-size: medium;
        text-align: center;
    }

    #logo{
        justify-content: center;
        margin-left: 40%;
        margin-right: auto;

    }
    #apply{
        padding-right: 20px;
    }
    #logo_img{
        justify-content: center;
        margin-left: 15%;
        margin-right: auto;
    }
}

#nik-button{
    background-color: rgb(228,200,167);;
    border-color:rgb(228,200,167);
    border-width: 2px;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.01em;
    margin-top: 1.2em;
}

#nik-button:hover{
    background-color: black;
    color:  rgb(0, 125, 95); 
    border-color: rgb(0, 125, 95);
    box-shadow: inset;
}

#tables-header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(255, 255, 255);
}

#rules{
    color:#f2eaea; 
    text-align: center; 
    max-width: 500px;
}

ul li{
    text-align: justify;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #e6dedc, #1e5404); /* Gradient color */
    margin: 20px 0;  
}

#logo_img{
    padding-bottom: 0.5em;
    max-width: 220px;
}

#rules h4{
    color:rgb(209, 98, 98)
}

.apliciraj{
    color: rgb(228,200,167)
}


